html,
body {
  background-color: #181715;
  background-image: url(../images/Background_new.png);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-conteiner,
.link-text {
  color: #fff;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  font-size: 1.2vw;
}

.link-text:hover {
  color: #ffffffce;
}

.title {
  font-size: 4vw;
  margin-left: 0.4em;
}

.header {
  display: flex;
  align-items: center;
}

.navigation {
  width: 100%;
}

.list-item {
  list-style-type: none;
  display: inline;
  margin: 20px;
}

.address {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: 27px;
}
